<!--The content below is only a placeholder and can be replaced.-->
<div>
  <button (click)="loadPosts()" class="btn btn-primary btn-sm">Load posts</button>
  <br><br>
  <button (click)="loadOnePost()" class="btn btn-primary btn-sm">Load post #</button> &nbsp;
  <input type="text" [(ngModel)]="postId"/>

  <br/><br/>
  <div>
    <table class="table table-striped" *ngIf="posts">
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
      <tr *ngFor="let post of posts">
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{post.body}}</td>
        </tr>
    </table>
  </div>
</div>
